/*公共部分*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
.head{height:150px;width:1903px;background-image:url(../images/head.jpg);}
.nav{margin:0 auto;padding-top:110;height:50px;width:1200px;}
.head img{float:left; margin-left:310;}
.footer{height:150px;width:1903px;background-color:#f6f9fa;padding-top:20;}
.foot{margin: 0 auto;height:150px;width:1200px;}
.foot2{float:left;padding-left:50;}
.footer-top-center p{color:#717d86;}
.footer-top-center img{float:left;}
.footer-top-right p{float:left;color:#717d86}
.footer-top-left{float:left;width:400;height:50;}
.footer-top-center{font-size:12;float:left;width:400;height:100;}
.footer-top-right{font-size:12;float:left;width:400;height:100;}
.nav a{background:white;padding:10 30 10 30;border-radius: 20px; margin-right:0; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
.nav a:link {text-decoration:none;}
.nav a:hover{color:white;background-color:#000000;}
.nav a:active {background-color:#FF704D;} 
.foot a:link {font-size:12;color:#717d86;text-decoration:none;}
.foot a:visited{font-size:12;color:#717d86;text-decoration:none;}
.foot a:hover{color:#42d9ec;}
ul{ margin:0px; padding:0px;list-style:none;}
li{float:left; width:10px; height:10px; border-radius:50%; border:white 3px solid; margin:10px;}


/*index.html*/
.body1{margin: 0 auto;height:260px;width:1200px;}
.body1-left{float:left;padding-top:20;width:440;height:220;  position:relative; overflow:hidden;}
.img-box{margin-left:auto ; margin-right:auto; position:relative; overflow:hidden;width:1760;height:220;}
.body1-left img{float:left;width:440;height:220;}
.body1-right{padding-top:20;}
.body1-right img{float:right;margin-left:20;margin-bottom:17;}
.body2{margin: 0 auto;height:225px;width:1200px;}
.body2-top img{float:left;}
.body2-top h2{float:left;padding-top:8;}
.body2-top h5{padding-top:18;margin-left:120;color:#717d86}
.body2-center{margin-top:20;width:1200;}
.body2-center-box {float:left;width:160;margin-top:0;margin-right:20;}
.body2-center-box p{font-size:12; color:#717d86}
.cen-rigth{float:right;}
.body3{margin: 0 auto;height:120px;width:1200px;/*background-image:url(../images/img1.png);*/}
.body4{margin: 0 auto;height:320px;width:1200px;}
.body4-top img{float:left;}
.body4-top h2{float:left;padding-top:8;}
.body4-top h5{padding-top:18;margin-left:120;color:#717d86}
.body4-bottom{width:1200;margin-top:20;height:300;}
.body4-left{float:left;width:900;height:200;}
.body4-left-box{float:left;width:160;margin-top:0;margin-right:20;}
.body4-left-box p{font-size:12; color:#717d86}
.body4-right{float:right;}
.body5{margin: 0 auto;height:220;width:1200px;}
.body5-top img{float:left;}
.body5-top h2{float:left;padding-top:8;}
.body5-top h5{padding-top:18;margin-left:120;color:#717d86}

.ctrl_button{ float:left; position:absolute; bottom:5%; left:40%; margin-left:-45px;}
.ctrl_button li{ float:left; border-radius:50%; border:white 1px solid; margin:10px; background-color:white;}
.current{ background-color:white; width:20px; height:20px;}
.ctr{background-color:#ffb900; }
/*search.html*/
.search1{margin:0 auto;width:600;height:60;padding-top:20;}
.search1 input{width:350;height:40;margin-left:10;font-size:16;color:#717d86}
.search2{margin:0 auto;width:1200;height:275;padding-top:50;}
#search1{float:left;}
#search2{float:right;}
.result{border:1px solid #e5e9ef;width:1200; height:130;padding:25;}
.result-title{margin-bottom:20;}
.result-title img{float:left;}
.result img{float:left;margin-right:50;}
.result-right p{color:#717d86}
.search3{margin:0 auto;width:1200;height:700;padding-left:80;}
.result-box{float:left;border:1px solid #e5e9ef;width:168;height:208;margin-right:30;margin-bottom:20;}
.page{margin:0 auto;padding-left:210;width:300;height:60;}
.page a:link {font-size:12;color:#717d86;text-decoration:none;}
.page a:visited{font-size:12;color:#717d86;text-decoration:none;}
.page a:hover{color:#42d9ec;}

/*game.html*/
.game2{margin:0 auto;width:1200;height:400;padding-top:20;}
.game2 img{float:left;margin-right:50;}
.game2 p{padding-top:50;color:#717d86}
.game3{margin:0 auto;width:1200;height:500;padding-top:20;padding-left:300;}
.game3 table{width:800;height:300;border: 1px solid;border-collapse:collapse;}
.game3 td{border: 1px solid;border-collapse:collapse;color:#717d86;}
.game3-block{float:left;width:10;height:30;background-color:#2cbdf0;}
.game3 a:link {font-size:12;color:#717d86;text-decoration:none;}
.game3 a:visited{font-size:12;color:#717d86;text-decoration:none;}
.game3 a:hover{color:#42d9ec;}

/*video.html*/
.video1{margin:0 auto;width:1200;height:130;padding-top:20;}
.video1-left{float:left;}
.video1-right{float:right;}
.video1-user{padding-left:30;}
.video1 h2{color:#525659;}
.video1 h5{color:#99a2aa;}
.video2{margin:0 auto;width:1920;height:700;padding-top:20;background-color:#f6f9fa;}
.video2-body{margin:0 auto;width:1200;}
.video3{margin:0 auto;width:1200;height:50;padding-top:20;}
.video3-more{width:850;color:#99a2aa;}
.video4{margin:0 auto;width:1200;height:120;padding-top:20;}
.video4-bottom img{float:left;}
#pinglun{margin-left:30;float:left;width:750;height:60;background-color:#f6f9fa;}
#input{margin-left:30;}

/*sort.html*/
.sort{margin:0 auto;width:1200;height:800;padding-top:20;}
